@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', 'Arial';
    scroll-behavior: smooth;
}

.container{
    width: 83%;
    margin: 0 auto;
}

body{
    min-height: 100vh;
    background: #262626;
}

.heading{
    font-weight: 700;
    font-size: 40px;
    color: #fff;
}

.just-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #fff;
}

.bold-text{
    font-weight: 700;
}

/* Шапка */

.header{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 0;
    background-color: rgba(43, 43, 43, 0.6);
    backdrop-filter: blur(10px);
    font-size: 18px;
}

.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    width: 200px;
    transition: transform 0.2s ease-out;
    -webkit-transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -ms-transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
}

.header__logo:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.logo__logo-img{
    width: 100%;
}

.header__header-phones{
    display: flex;
    align-items: center;
}

.header-phones__phone-number{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    margin-right: 30px;
}

.header-phones__order-call-btn{
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #4D008A 0%, #BE00B7 100%);
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
}

.header-phones__order-call-btn:hover .order-call-btn__img{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.order-call-btn__img{
    width: 21px;
    margin-right: 5px;
    transition: transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
}

/* О компнании */

.about-company{
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 150px 0 40px 0;
    background: linear-gradient(104.49deg, #4D008A 0%, #3F003C 100%);
}

.about-company::before{
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    left: -50px;
    bottom: -15%;
    width: 100px;
    height: 200%;
    background-color: rgba(190, 0, 183, 0.5);
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
}

.about-company::after{
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    left: 0%;
    bottom: -15%;
    width: 100px;
    height: 100%;
    background-color: rgba(190, 0, 183, 0.5);
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
}

.about-company__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.about-company__about-text{
    margin-bottom: 35px;
}

.about-text__heading{
    position: relative;
    margin-bottom: 20px;
}

.about-text__heading::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 285px;
    height: 5px;
    background-color: #BE00B7;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.about-text__text:not(:last-child){
    margin-bottom: 20px;
}

.about-company__about-images{
    display: flex;
    align-items: center;
    column-gap: 80px;
    margin-bottom: 40px;
}

.about-images__dev-img{
    width: 350px;
}

.about-images__game-img{
    width: 450px;
}

.about-company__go-bot-link, .go-bot-link__img{
    width: 80px;
    height: 60px;
}

.about-company__go-bot-link{
    animation: goingDown 0.5s infinite linear alternate;
    -webkit-animation: goingDown 0.5s infinite linear alternate;
}

@keyframes goingDown {
    from{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    to{
        transform: translateY(15px);
        -webkit-transform: translateY(15px);
        -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
        -o-transform: translateY(15px);
    }
}

/* Преимущества */

.benefits-block{
    padding: 80px 0;
}

.benefits-block__heading{
    text-align: center;
    margin-bottom: 35px;
}

.benefits-block__benefits-tabs{
    background-color: #363636;
    padding: 35px;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.3);
}

.benefits-tabs__captions{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 35px;
}

.captions__caption{
    font-weight: 300;
    color: rgb(206, 206, 206);
    cursor: pointer;
    transition: transform 0.1s linear;
    -webkit-transition: transform 0.1s linear;
    -moz-transition: transform 0.1s linear;
    -ms-transition: transform 0.1s linear;
    -o-transition: transform 0.1s linear;
}

.captions__caption:hover{
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}

.captions__caption_active{
    text-decoration: underline;
    color: #fff;
}

.captions__separate-line{
    width: 2px;
    height: 20px;
    background-color: #525252;
}

.benefits-tabs__main-area{
    display: none;
    opacity: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    color: #fff;
    animation: tabAppearance 1s linear 1 normal forwards;
    -webkit-animation: tabAppearance 1s linear 1 normal forwards;
}

@keyframes tabAppearance {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.tab1{
    display: block;
    opacity: 1;
}

/* Услуги */

.services-block__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-block__heading{
    margin-bottom: 35px;
}

.services-cards{
    width: 100%;
    box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    /* z-index: 2; */
}

.services-cards::before{
    content: '';
    display: block;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: none;
    background: linear-gradient(180deg, #52008C 0%, #BB00B6 100%);
    position: absolute;
    top: 0;
    right: 0;
    animation: balls 2s infinite linear alternate;
    -webkit-animation: balls 2s infinite linear alternate;
}

.services-cards::after{
    content: '';
    display: block;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: none;
    background: linear-gradient(180deg, #52008C 0%, #BB00B6 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    animation: balls 2s infinite linear alternate;
    -webkit-animation: balls 2s infinite linear alternate;
}

@keyframes balls {
    from{
        opacity: 0.3;
        transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -o-transform: translateY(-50px);
}

    to{
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
}

.service-card{
    padding: 35px;
    background: rgba(54, 54, 54, 0.5);
    backdrop-filter: blur(50px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 10px;
}

.service-card:last-child{
    margin-bottom: 0;
}

.service-name-block__name{
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.service-name-block__order-btn{
    cursor: pointer;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    padding: 10px 20px;
    background: linear-gradient(90deg, #4D008A 0%, #BE00B7 100%);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
    transition: transform 0.1s linear;
    -webkit-transition: transform 0.1s linear;
    -moz-transition: transform 0.1s linear;
    -ms-transition: transform 0.1s linear;
    -o-transition: transform 0.1s linear;
}

.service-name-block__order-btn:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.service-card__service-description{
    font-weight: 300;
    font-size: 30px;
    max-width: 40%;
}